{% extends "kyberapp/base.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
    <h2>{{ lesson.title }}</h2>
    <p>{{ lesson.description }}</p>
    {% if lesson.video_url %}
        <p><a href="{{ lesson.video_url }}">Посмотреть видео</a></p>
    {% endif %}

    {% if test_link %}
        {% if user.is_authenticated %}
            <p><a href="{{ test_link }}">Пройти тест</a></p>
        {% else %}
            <p><a href="{{ test_link }}">Для прохождения теста, пожалуйста, войдите или зарегистрируйтесь</a></p>
        {% endif %}
    {% endif %}
{% endblock %}
