{% extends "kyberapp/base.html" %}

{% block title %}Уроки{% endblock %}

{% block page_name %}Уроки{% endblock %}

{% block content %}
<ul>
    {% for lesson in page_obj %}
        <div class="col-md-4 md-margin-bottom-40">
            {% if lesson.image %}
                <img class="img-responsive" src="{{ lesson.image.url }}" alt="{{ lesson.title }}">
            {% endif %}
            <h3>{{ lesson.title }}</h3>
            <p>
                {{ lesson.description|slice:":120" }}...
            </p>
            <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-primary btn-sm">Читать далее</a>
        </div>

    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
